<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0HFPSMSO7Qqj3hXSB3CTDl5VhGLlmm8g</string>
	<key>GCM_SENDER_ID</key>
	<string>272198237449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sealGonApp</string>
	<key>PROJECT_ID</key>
	<string>sealgonapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sealgonapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272198237449:ios:d43dd982781245f7fa67d8</string>
</dict>
</plist>